@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

* {

    padding: 0;
    margin: 0;
}
 

footer {

    bottom: 0;
}

.Footer {


    background-color: rgb(39, 38, 38);
    color: white;
    font-family: "Spline Sans", sans-serif;
    font-weight: 600 important;
    box-sizing: border-box;
    text-align: left;
    font: bold;
    font-family: sans-serif; 
    width: 100%;
    font-size: 16px;
    padding-top: 69px;
    

}

.Footer .footer-Top{

    padding-bottom: 15px;
}

.Footer .footer-left,
.Footer .footer-center,
.Footer .footer-right {

    display: inline-block;
    vertical-align: top;

}

@media (max-height:800px) {

    footer {

        position: static;
    }
}


/*footer left*/


.Footer .footer-left {

    width: 18%;
    padding-right: 40px;
    padding-left: 113.5px;
   

}

.Footer .footer-left img {

    height: 100px;
    width: auto;
}

.Footer .footer-left p {

    color: white;
    font-family: "Spline Sans", sans-serif;
    font-weight: 600 important;
    padding-top: 20px;
    line-height: 1.7;
}

.Footer .footer-left .Social-Links{

    margin: 0;
    padding-top: 16px;
    

}

.Footer .footer-left i {


    color: #058105;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin-right: 9px;
    vertical-align: middle;

}

.Footer .footer-left a {

    text-decoration: none;
}



/*footer center*/


.Footer .footer-center {

    width: 28%;
    padding-right: 5px;
    padding-top: 25px;

}
 

.Footer .footer-center i {


    color: white;
    font-size: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;

}



.Footer .footer-center p {

    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    color: white;
    font-family: "Spline Sans", sans-serif;
    font-weight: 600 important;


}

/*footer right*/

.Footer .footer-right{


    padding-top: 44px;
}


/*footer buttom*/

.Footer .footer-divider{

    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
    display: flex;
    font-family: "Spline Sans", sans-serif;
    font-weight: 600 important;

}

.Footer .divider-left{

    width: 50%;
    padding-left: 113.5px;
}

.Footer .divider-right{

    width: 50%;
    text-align: right;
    padding-right: 100px;
}

@media (max-width :880px){

    .Footer .footer-left,
.Footer .footer-center,
.Footer .footer-right{

    display: block;
    width: 100%;

}

.Footer .footer-left{

    padding-left: 10px;
}

.Footer{

    padding-left: 10px;
    padding-right: 10px;
}

.Footer .divider-left,.Footer .divider-right{

    padding-left: 10px;
    padding-right: 10px;
}


}