

#abh{

    font-family: 'Oswald',sans-serif;
}

.about-text p{

    font-family: 'Archivo',sans-serif;
    
    font-size: 20px;
    line-height: 32px;
   

}

.icon{

    font-size: 33px;

}